docs/Jaegeun Han, Bharatkumar Sharma - Learn CUDA Programming_ A beginner's guide to GPU programming and parallel computing with CUDA 10.x and C_C++-Packt Publishing (2019).pdf
docs/Richard Ansorge - Programming in Parallel with CUDA_ A Practical Guide-Cambridge University Press (2022).pdf
docs/Sanders, Jason_Kandrot, Edward - CUDA by example an introduction to general-purpose GPU programming. - Includes index-Addison-Wesley Professional (2010).pdf
docs/The_CUDA_Handbook.pdf
docs/CUDA_C_Programming_Guide.pdf
